! ------------------------------------------------------------------------------
! ROFI setup
! xrdb -load ${HOME}/.Xresources
! ------------------------------------------------------------------------------

rofi.separator-style:   solid
rofi.font:              JetBrainsMonoMedium Nerd Font 14
rofi.color-enabled:     true
rofi.padding:           50
rofi.line-margin:       5
rofi.lines:             10
rofi.width:             720
rofi.disable-history:   true
rofi.modi:              keys,drun,window,run
rofi.sidebar-mode:      true
rofi.fullscreen:        false
